# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/
settings.json

# Python cache
*.pyo
*.pyd
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
